/******************************************************************
Site Name: Purple Paisley Productions
Author: Brianna Kirkland

Stylesheet: Site

These are site-wide, device-independent, global styles. It's 
called after the stylesheets that set styles for page elements.
******************************************************************/


/*********************
VIEWPORTS
*********************/
/*

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }
*/

/*********************
ROOT STYLES
*********************/

html {
font-size : $basefontsize;
-webkit-overflow-scrolling : touch;
-webkit-tap-highlight-color : lighten($basecolor, 75%);
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

body {
background: white url(../img/stripebg.jpg) fixed;
margin : 0;
padding : 0;
width : 100%;
font-family : $basefont;
line-height : $baselineheight;
color : $textcolor; }


/*********************
TEXTURE
*********************/

::selection {
	background: lighten($ltpurple, 30%);
	color: $black;
}
::-moz-selection {
	background: lighten($ltpurple, 30%);
	color: $black;
}

/*********************
LINK STYLES
*********************/

a:link,
a:visited {
	color: $linkcolor;
	text-decoration: none;
	border-bottom: 1px dashed $linkcolor;
	@include transition;
}

a:hover,
a:active {
	color: $linkcolorhover;
	text-decoration: none;
	border-bottom: 1px dashed $linkcolor;
}


/*********************
LAYOUT                 ----------------- Heavily examine and modify for efficiency  ----- styles pasted in as default
Notes: target ÷ context = result, express the results in percentages by moving the decimal over 2 spaces to the right ->
*********************/
header {
	width: 85.4166666667%; // 820/960
	margin: 0 auto;
	border: 1px solid yellow;
}
.logo {
background:url(../img/logo.png) no-repeat; 
width: 32.926829268293%; // width=270/820
height:162px; 
display: inline-block; 
text-indent: -9999px; 
float: left;
border: 1px solid red;
} 
.tagline {
float:right;;
width: 60.975609756%;
font-family: "fontin_italic";
font-weight: bold;
font-size: $basefontsize * 3;  //  48/16 = 3
text-align: center;
background: $rgbltpurple;
@include rounded;
@include texthighlight;
border: 1px solid blue;
}
nav {

	border-top: $stitch;
	border-bottom: $stitch;
	outline:  6px solid $dkpurple;
/* 	box-shadow: 0 0 0 6px $dkpurple; */
	background: $dkpurple;
	@include navGradient;
	ul {float: right; text-align: center; list-style-type: none; padding: .25em; /* margin-top: -.5em; */ margin-right:3em;}
	li {display: inline-block; text-decoration: none; font-family: "fontin_bold"; font-size: 1.25em; color: white; line-height: 1.25em; letter-spacing:.03em; text-transform:uppercase;}
}

nav a:link {
	color: white;
	text-decoration: none;
	border-bottom: 0;
	
}
nav a:visited {
	color: white;
	text-decoration: none;
	border-bottom: 0;
}
nav a:hover {
	color: $pink;
	text-decoration: none;
	border-bottom: 0;
}
nav a:active {
	color: $ltpurple;
	text-decoration: none;
	border-bottom: 0;
}
nav a.current {
	color: $ltpurple;
	cursor: pointer;
	text-decoration: none;
}
// MAIN COINTAINER
.container {
	background: url(../img/flourish.png) no-repeat top left, url(../img/lgFlourishBG.png) no-repeat right bottom, white;
	width: /* 85.4166666667%; */ 100%;
	margin: 0 auto;
	padding: $gutterwidth;
	/* border: 3px solid $dkpurple; */
}

article {
	width: 55%;
	float: right;
	margin: 0 $gutterwidth $gutterwidth 36.4583333%; // left margin 350px/960 = .364583333
	padding: $gutterwidth;
	background: rgba(255, 255, 255, .6); 
	@include rounded;
	/*  h2 {clear: both;} */
}
/*
article p {
	margin-bottom: 1.5em;
	clear: both;
}
*/
#slider {
	margin: 0 auto;
}
// ASIDES 
aside {
	float: left;
	position: relative;
	width: 23%;
	margin: 1.5em 2.5em 30% 0;
	padding: $gutterwidth/2;
	/*
background: rgba(185, 178, 216, .8);
	@include rounded;
	@include bottomShadowInset;
*/
}


// FOOTER
footer {
	width: 100%;
	height: 1.75em;
	clear: both;
	/* overflow: hidden; */
}

footer small {
	display: block;
	margin: 0 auto;
	width: 60%;
	font-size: .75em;
	line-height: 1em;
	text-align: center;
}

.students {
	float: left;
	width: 20%;
	margin: -1em 4em 0 0;
	/* padding: .2em 0; */
	text-align: center;
}
.students a {
	color: white;
	border-bottom: none;
}



/*********************
VENDOR-SPECIFIC  
*********************/



/*********************
 MODERNIZR 
*********************/



/*********************
TEMPLATE SPECIFICS
*********************/

